html {
    box-sizing: border-box;
    font-size:62.5% /*1rem = 10pixeles*/
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  *{
      padding:0;
      margin:0;
      font-family: 'Poppins', sans-serif;
  }

/*Globales*/
:root {
    --primario: #da1919fa;
    --secundario: #F3F4F5;
    --terciario: #C8D5B9;
}

body{
    height: 100vh;
	width: 100%;
}

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem 20rem;
}

.contenedor:after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #F3F4F5;
    z-index: -1;
}

.encriptador{
    border-radius: 3rem;
    max-width: 95rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF9F9;
    box-shadow: 0px 0px 1.9rem 0.5rem #E7EBEA;
}

.left{
    height: 100%;
    background-image:  url(../img/Fondo.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 4px 0  1.9rem 0.5rem #E7EBEA;
}

.right{
    padding: 2.5rem;
}
h1{
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #070607;
}

h1:after{
    content: "";
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    height: 0.4rem;
    width: 5rem;
    border-radius: 2px;
    background-color: var(--primario);
}


.field{
    width:100%;
    padding: 0.5rem 1rem;
    background-color: var(--secundario);
    resize: none;
    border:none;
    border-radius: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e25050;
    box-shadow: 0 .2rem 2rem 0.5rem  #E7EBEA;
}
textarea{
    outline:0px; 
    -webkit-appearance:none;
}

label{
    font-size: 1.5rem;
    color:#070607;
}

 /*------------------------------
            Botones
--------------------------------*/
.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.7rem;
    border: 1px solid var(--primario);
    border-radius: 1rem;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    color: var(--primario);
    z-index: 1;
    margin:0.5rem;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--primario);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn:hover {
    color: #EFF6EE;
    border: 1px solid var(--primario);
   }
   
   .btn:hover:before {
    top: -35%;
    background-color: var(--primario);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .btn:hover:after {
    top: -45%;
    background-color: var(--primario);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem 5rem;
}



.btn-redes {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.6rem;
    border: 1px solid #EFF6EE;
    border-radius: 0.4rem;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1.2rem;
    color: #EFF6EE;
    z-index: 1;
    margin:0.5rem;
   }
   
   .btn-redes:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn-redes:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #EFF6EE;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .btn-redes:hover {
    color: var(--primario);
    border: 1px solid #EFF6EE;
   }
   
   .btn-redes:hover:before {
    top: -35%;
    background-color: #EFF6EE;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .btn-redes:hover:after {
    top: -45%;
    background-color: #EFF6EE;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem 5rem;
}






/*------------------------------
            FOOTER
--------------------------------*/
#footer{
    padding: 2rem;
    background-color:var(--primario); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones-redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes{
    text-align: center;
}

.redes h4, .redes p{
    color: #EFF6EE;
}

 .redes p{
    font-size: 1.2rem;
}

.redes h4{
    text-transform: uppercase;
    font-size: 1.5rem;
}

/*------------------------------
            Media Queries
--------------------------------*/
@media screen and (max-width: 880px) { 
    .encriptador{
        grid-template-columns: 1fr;
    }

    .left{
        height:20rem;
    }
 }